$bg-light-gray: #2b364a;
$bg-black-gray: #1a222f;
$bg-gray: #262d3f;
$green-btn: #3b682c;
$blue-btn: #2765b7;
$yelow-btn: #e69709;

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: $bg-light-gray;
}